
<div class="item"></div>
<div class="item"></div>
<div class="item"></div>
<div class="item"></div>





 <section class="container">
     <div class="item grow1"><button  ng-click="proximatela('enviarAdd')">Adicionar</button></div>
     <div class="item grow1"><button  ng-click="proximatela('enviarSub')">Subtrair</button></div>
     <div class="item grow1"><button  ng-click="proximatela('enviarMult')">Multiplicar</button></div>
     <div class="item grow1"><button  ng-click="proximatela('enviarDiv')">Dividir</button></div>
 </section>
 