
<form id="formularioInfor">
{{valor1}}
<div>
    <p>
        <input id="inputInfo" type="number" ng-value="primeirovalor" name="" id="">
    </p>
</div>

{{valor2}}

<div>
    <p>
        <input  id="inputInfo" type="number" ng-value="segundovalor" name="" id="">
    </p>
</div>

{{imprimeResult}}

<div>
    <p>
        <input  id="inputInfo" type="number" ng-value="resultado" name="" id="">
    </p>
</div>
</form>
<div class="btnContinuarResultado">
<button id="buttonResultado" ng-click="voltartela()">Continuar</button>
</div>